@charset "utf-8";
@use "sass:map";
@import url("https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css");
@import url("https://cdn.jsdelivr.net/npm/lenis@1.3.8/dist/lenis.min.css");

$breakpoints: (
  mmxxs: 'max-width: 375px',
  mmxs: 'max-width: 480px',
  mms: 'max-width: 568px',
  mm: 'max-width: 820px',
  mml: 'max-width: 1024px',
  mmxl: 'max-width: 1180px',
  mmxxl: 'max-width: 1366px',
  pcs: 'max-width: 1400px',
  pc: 'max-width: 1600px',
  pc_hover: '(hover: hover) and (pointer: fine)'
);

@mixin media-breakpoint($breakpoint-name) {
  // マップからブレークポイントの値を取得
  $breakpoint-value: map.get($breakpoints, $breakpoint-name);

  // 指定されたブレークポイント名が存在するかチェック
  @if ($breakpoint-value) {
    // 取得した値をそのままメディアクエリの条件部分として使う
    @media only screen and (#{$breakpoint-value}) {
      @content;
    }
  } @else {
    // 存在しないブレークポイント名が指定された場合はエラー
    @error "`#{$breakpoint-name}` というブレークポイントは `$breakpoints` マップに存在しません。";
  }
}

html {
}

body {
}

canvas {
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  bottom: 80px;
  display: flex;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);

  li {
    color: #fff;
    margin: 0 20px;

    @include media-breakpoint(mmxs) {
      margin: 0 8px;
    }

    button {
      font-size: 14px;
      text-transform: uppercase;

      border: 1px solid #fff;
      border-radius: 50px;
      height: 50px;
      padding: 0 40px;

      @include media-breakpoint(pc_hover) {
        transition: background-color 0.4s, border-color 0.4s;

        &:hover {
          background-color: #000;
          border-color: #000;
        }
      }

      @include media-breakpoint(mmxs) {
        font-size: 12px;
        
        border-radius: 40px;
        height: 40px;
        padding: 0 30px;
      }
    }
  }
}